@font-face {
    font-family: 'TeXGyreTermes';
    src: url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Italic.woff2') format('woff2'),
        url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreTermes';
    src: url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-BoldItalic.woff2') format('woff2'),
        url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreTermes';
    src: url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Regular.woff2') format('woff2'),
        url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreTermes';
    src: url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Bold.woff2') format('woff2'),
        url('/webfonts/tex_gyre_termes/subset-TeXGyreTermes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

